* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

html, body {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../assets/presentation.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 10%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerMainDiv {
    margin:0;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 4em;
}

.headerMainDiv li {
    display: inline-block;
}

.headerHomeButton {
    border-bottom: 1px solid white;
    padding-bottom: 0.3em;
}

.headerApplyNowButton {
    border-radius: 5%;
    background-color: rgb(35, 189, 35) ;
    padding: 0.5em;
}

.headerMainDiv nav {
    text-align: right;
}

.header a {
    display: inline-block;
    padding: 0.5em;
    color:white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerTextDiv {
    padding-left: 5%;
    display: flex;
    justify-items: start;
    width: 40%;
}

.header p {
    font-size: 1.3em;
}

.header h1 {
    padding-bottom: 0.5em;
}


.headerApplyNowButton :hover {
    background-color:rgba(0, 0, 0, .4) !important;
}

/* section2 */

._90recruitment {
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
}

._90recruitment .recruitmentChild {
    text-align: center;
    font-size: 1.7em;
    padding: 0 1em;
}

.recruitmentChild h1 {
    color: rgb(35, 189, 35);
    padding-top: 0.5em;
}

/* section3 get the skills */

.getTheSkills {
    margin: 5% 10%;
    padding: 0.5em 1em;
    display: flex;
    justify-content:space-around;
}

.getTheSkills img {
    width: 100%;
    display: block;
}

.getTheSkills h2 {
    margin-top: 0;
    font-weight: normal;
}
.getTheSkills .getTheSkillsText {
    font-size: 140% ;
    display: block;
    margin-bottom: 2em;
}

.getTheSkillsText {
    margin-left: 5em;
}

/* section4 discover the program */

.discoverTheProgram {
    background-color: rgb(35, 189, 35);
    text-align: center;
    font-size: 1.5em;
    
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.discoverTheProgramText {
    color:white;
    padding-top: 2em;
    font-weight: normal;
}

.discoverTheProgramImages {
    display: flex;
    justify-content: center;
}

/* section6 join our recruiters */

.joinRecruiters {
    text-align: center;
    font-size: 1.4em;
}


.joinRecruitersPic img {
    display: inline-block;
    width: 100%;
    padding: 0.8em 1.5em;
}

/* section7 quotation image */

.quoteDiv {
    padding: 0 20%;
}

.quoteDiv img {
    display: inline-block;
    width: 100%;
    padding: 0.8em 1em;
}

/* <!--in the media section--> */

.mediaDiv {
    background-color: lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
}

.titleCenterH3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.mediaDivRow1 img {
    width: 20%;
}

.mediaDivRow2 img {
    width: 20%;
}

/* funding partners section */

.partnersDivPics img {
    width:10em !important;
}