* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

html, body {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 700px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../assets/presentation.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 10%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerMainDiv {
    margin:0;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 4em;
}

.hiddenEqualSign {
    display:none;
}

@media screen and (max-width:1000px){
    .hiddenEqualSign {
        display:contents;
        display: inline-block;
        text-align: end;
    }
}

.headerMainDiv li {
    display: inline-block;
}

@media screen and (max-width: 1000px){
    .headerMainDiv li {
        display: none;
    }

}


.headerHomeButton {
    border-bottom: 1px solid white;
    padding-bottom: 0.3em;
}

.headerApplyNowButton {
    border-radius: 5%;
    background-color: rgb(35, 189, 35) ;
    padding: 0.5em;
}

.headerMainDiv nav {
    text-align: right;
}

.header a {
    display: inline-block;
    padding: 0.5em;
    color:white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headerTextDiv {
    padding-left: 5%;
    display: flex;
    justify-items: start;
    width: 40%;
}

.header p {
    font-size: 1.3em;
}

.header h1 {
    padding-bottom: 0.5em;
}


.headerApplyNowButton :hover {
    background-color:rgba(0, 0, 0, .4) !important;
}

/* section2 */

._90recruitment {
    max-width: 100%;
    max-inline-size: 100%;
    margin: 0, 1em;
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    justify-items:normal;
    gap: 3rem;
}

._90recruitment .recruitmentChild {
    display: inline;
    max-width: 30%;
    text-align: center;
    font-size: 1em;
    padding: 0 1em;
}

.recruitmentChild h1 {
    margin: auto, 3em;
    font-size: 2.5em;
    color: rgb(35, 189, 35);
    padding-top: 0.4rem;
}

.recruitmentChild p {
    font-size: 1em;
}

@media screen and (max-width: 800px){
    ._90recruitment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items:center;
        text-align: center;
        gap: 1em;
    }
    ._90recruitment .recruitmentChild {

        margin: auto;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}


/* section3 get the skills */

.getTheSkills {
    margin: 5% 10%;
    padding: 0.5em 1em;
    display: flex;
    justify-content:space-around;
}

.getTheSkills img {
    width: 100%;
    min-width: 70px;
    display: block;
}

.getTheSkills h2 {
    margin-top: 0;
    font-weight: normal;
}
.getTheSkills .getTheSkillsText {
    font-size: .7em ;
    display: block;
    margin-bottom: 2em;
}

.getTheSkillsText {
    margin-left: 2em;
}

@media screen and (max-width: 750px){
    .getTheSkills {
        margin: 5% 10%;
        padding: 0.5em 1em;
        display: block;
        justify-content:space-around;
    }
    .getTheSkills h2 {
        font-size: x-large;
        margin-top: 0.3em;
        padding-top: 0.3em;
    }
    .getTheSkillsText p {
        font-size: 1.2em;
    }

}



/* section4 discover the program */

.discoverTheProgram {
    background-color: rgb(35, 189, 35);
    text-align: center;
    font-size: 1.5em;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.discoverTheProgramText {
    color:white;
    padding-top: 2em;
    font-weight: normal;
}

.discoverTheProgramImages {
    display: flex;
    justify-content: center;
}

.discoverTheProgramImages img {
    max-width:100%;
    max-height: 100%;
}

@media screen and (max-width: 750px){
    .discoverTheProgramImages {
        display:block;
        justify-content: center;
    }
    .discoverTheProgramImages img {
        width:auto;
        height: auto;
    }
}




/* section6 join our recruiters */

.joinRecruiters {
    text-align: center;
    font-size: 1.4em;
}


.joinRecruitersPic img {
    display: inline-block;
    width: 100%;
    padding: 0.8em 1.5em;
}

/* section7 quotation image */

.quoteDiv {
    padding: 0 20%;
}

.quoteDiv img {
    display: inline-block;
    width: 100%;
    padding: 0.8em 1em;
}

/* <!--in the media section--> */

.mediaDiv {
    background-color: lightgray;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
}

.titleCenterH3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.mediaDivRow1 img {
    width: 20%;
}

.mediaDivRow2 img {
    width: 20%;
}

@media screen and (max-width: 700px){
    .mediaDiv {
        display: inline-block;
        margin: auto;
    }
    .mediaDivRow1 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .mediaDivRow2 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .mediaDivRow1 img {
        margin: auto;
        width:auto;
    }
    .mediaDivRow2 img {
        margin: auto;
        width:auto;
    }

}

/* funding partners section */

.partnersDivPics img {
    width:10em !important;
}

/* subscribe sections */

.subscribeMain {
    margin-top: 2.5em;
    width: 100%;
    display: flex;
    display: inline-block;

}

.subscribeMain div {
    text-align: center;
}

.sbscribe {
    background-color: lightgray;
    padding: 1.5em 0;
    text-align: center;

}

.sbscribeH3 {
    margin-top: 0.7em;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
    margin: 0 20%;

}

/* footer section */

.footer {
    background-color: black;
    padding: 2.4em;
    display: flex;
    justify-content: space-between;
    color: white;
}


.footerListRight li {
    display: inline;
}

.footerListRight i {
    width: 2em;
    color: white;
}